.main-menu {
  display: flex; /* Yatay esnek düzen */
  height: 100vh; /* Ekranın tamamını kaplasın */
}

.sidebar {
  width: 20%; /* Sidebar genişliği */
  height: 100%; /* Sidebar tam yüksekliği */
  position: fixed; /* Sidebar sabit kalsın */
  top: 0; /* Ekranın en üst kısmında başlasın */
  left: 0; /* Ekranın en sol kısmında */
  padding: 0px;
}

.products {
  margin-left: 20%; /* Sidebar genişliği kadar soldan boşluk bırak */
  height: 100vh; /* Ürünlerin olduğu alanın yüksekliği ekran kadar */
  overflow-y: auto; /* Ürünler scroll içinde olacak */
  display: flex;
  flex-direction: column; /* Ürünleri dikey sıralar */
  justify-content: flex-start; /* Ürünler sol üstten başlasın */
}
.main-menu h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  
}
