.viewprofile {
  display: flex; /* Yatay esnek düzen */
  height: 100vh; /* Ekranın tamamını kaplasın */
}

.sidebar {
  width: 20%; /* Sidebar genişliği */
  height: 100%; /* Sidebar tam yüksekliği */
  position: fixed; /* Sidebar sabit kalsın */
  top: 0; /* Ekranın en üst kısmında başlasın */
  left: 0; /* Ekranın en sol kısmında */
  padding: 0px;
}
