/* AdminUrunGuncelle.module.css */
.wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .title {
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    
    display: flex;
    flex-direction: column;
    
  }
  
  .formGroup {
    margin-bottom: 15px;
   
  }
  
  .formGroup label {
    font-size: 20px;;
    font-weight: bold;
    margin-bottom: 5px;
    
    color: #555;
    margin-right: 20px;  
  }
  
  .input {
    padding: 15px;
    font-size: 18px;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .submitButton {
    margin: 20px auto;
    width: 200px;
    height: 50px;
    padding: 5px 15px;
    font-size: 2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: center;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  