/* SideMenu.module.css */

.sideMenu {
  background-color: #2c3e50; /* Koyu mavi arka plan */
  width: 250px; /* Sabit genişlik */
  height: 100vh; /* Tam yükseklik */
  padding: 20px; /* İçerik için boşluk */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  display: flex;
  flex-direction: column; /* Dikey hizalama */
  position: absolute;
}

ul {
  list-style-type: none; /* Noktaları kaldır */
  padding: 0; /* Varsayılan dolgu kaldır */
}

li {
  margin: 15px 0; /* Her öğe arasında boşluk */
}

.button {
  font-size: 25px;
  background-color: #e74c3c; /* Kırmızı buton rengi */
  color: white; /* Beyaz metin */
  border: none; /* Kenar yok */
  padding: 10px 15px; /* İçerik için dolgu */
  border-radius: 5px; /* Yuvarlatılmış köşeler */
  cursor: pointer; /* İmleç değişimi */
  transition: background-color 0.3s; /* Geçiş efekti */
}

.button:hover {
  background-color: #c0392b; /* Hover rengi */
}

.link {
  font-size :25px;
  color: #ecf0f1; /* Açık gri metin */
  text-decoration: none; /* Alt çizgi yok */
  padding: 10px 15px; /* İçerik için dolgu */
  border-radius: 5px; /* Yuvarlatılmış köşeler */
  transition: background-color 0.3s; 
}

.link:hover {
  background-color: #34495e; 
}


