

.sideMenu {
  background-color: #2c3e50;
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

.button {
  font-size: 25px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #c0392b;
}

.link {
  font-size :25px;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s; 
}

.link:hover {
  background-color: #34495e; 
}


