@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  
  .wrapper {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.608);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    color: #342d2d;
  }
  
  h1 {
    text-align: center;
    margin: 30px 30px;  /* Üst ve alt boşluk bırakır */
    font-size: 28px;  /* Yazı boyutunu küçültme */
    color: #1c1c1c;
  }
  

  .form_box {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.952);
    color: #1f1c1c;
  }

  .input_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
  }

  .input_box {
    background-color: #342e2e;
    display: flex;
    align-items: center;
    position: relative;
    background: transparent;
  }

  .input_box input {
    position: relative;
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(51, 47, 47);
    border-radius: 40px;
    font-size: 20px;
    color: #2c2828;
    padding: 20px 45px 20px 20px;
    transition: border-color 0.3s, color 0.3s;
  }

  .input_box input:focus {
    border-color: #322f2f;
    color: #2b2828; 
  }

  .input_box input::placeholder {
    color: #211f1f; 
  }

  .input_box input:focus::placeholder {
    color: #2b2929; 
  }

  .input_box input:not(:focus) {
    color: #000;
  }

  .input_box input[type="date"] {
    flex: 1;
    border: 1px solid #0c0c0c;
    border-radius: 30px;
    font-size: 14px;
    color: #2c2828;
    background-color: #2d2b2b; 
    appearance: none;
  }

  .input_box input[type="date"]::placeholder {
    color: #363535; 
  }

  .input_box input[type="date"]:focus {
    outline: none;
    border-color: #000000; 
    box-shadow: 0 0 5px rgba(37, 38, 38, 0.958); 
  }

  .input_box .icon {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px;
    color: slateblue;
    pointer-events: auto; 
  }


  .input_box input:focus::placeholder {
    color: #555; 
  }

  .input_box input:focus + .icon {
    color: #555; 
  }

  .full_width {
    grid-column: span 2;
  }

  .large_input {
    width: 100%;
    padding: 15px;
  }

  .checkbox_list {
    max-height: 300px;
    overflow-y: auto;
  }

  button {
    padding: 12px 20px;
    background-color: #272626;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
  }

  .modal_content button {
    background-color: #007bff;
    color: 2600ff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal_content button:hover {
    background-color: slateblue;
  }

  .wrapper .remember_forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin-top: 35px;
  }

  .remember_forgot label input{
    accent-color: #1f1d1d;
    margin-right: 5px;
  }

  .remember_forgot a{
    color: #0f0e0e;
    text-decoration: none;
  }

  .remember_forgot a:hover{
    text-decoration: underline;
  }

  .wrapper .register_link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }

  .register_link p a{
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 600;
  }
  .register_link p a:hover{
    text-decoration: underline;
  }

  .input_box input {
    font-family: 'Poppins', sans-serif;
  }
  
  .input_box .icon {
    font-family: 'Poppins', sans-serif;
  }
  