.container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  width: 200px;
  cursor: default;
  text-align: center;
  background-color: #f9f9f9;
  position: relative;
  transition: transform 0.3s ease;
}

.card .image-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding-top: 20%;           
}

.card:hover {
  transform: scale(1.05);
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.price {
  font-size: 16px;
  color: #555;
}

.stock {
  font-size: 14px;
  color: #777;
}

.deleteIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.card:hover .deleteIcon {
  visibility: visible;
  opacity: 1;
}

.editIcon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: green;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.card:hover .editIcon {
  visibility: visible;
  opacity: 1;
}

.editIcon:hover {
  cursor: pointer;
}

.addProductIcon {
  width: 50px; 
  height: 50px;
  display: block;
  margin: 0 auto;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  z-index: 1001;
}

.modal input {
  width: 94%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button.closeButton {
  background-color: #dc3545;
}

.modal button.closeButton:hover {
  background-color: #c82333;
}
