.container {
  margin-top: 30px;
  margin-left: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  background-color: #f9f9f9;
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.logList {
  flex-grow: 1;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}


.closeButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  align-self: flex-start;
  margin-top: 20px;
}
